*{
    font-family: cursive;
    padding:12px;
}
h1{
    background-color: black;
    color: aqua;
    font-weight: bold;
}
h1 span{
    color: white;
}
h2{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
}
h3{
    background-color:rgb(0, 183, 255) ;
    text-align: right;
    text-decoration: underline;
}